body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image:url('images/choose\ the\ level.jpg');
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
h1{
    font-size: 60px;
}
.container2{
    position: absolute;
    left: 22%;
    bottom: 50%;
}
.container4{
    position: absolute;
    bottom: 50px;
    left: 22%;
}
.container3{
    position: absolute;
    bottom: 28%;
    left: 22%;
}
#easylevel {
    text-align: center;
    margin-bottom: 70px;
    font-size: 25px;
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

#easylevel:hover {
    background-color: #009a27;
}

#mediumlevel {
    text-align: center;
    margin-bottom: 70px;
    font-size: 25px;
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

#mediumlevel:hover {
    background-color: #009a27;
}

#difficultlevel {
    text-align: center;
    margin-bottom: 70px;
    font-size: 25px;
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

#difficultlevel:hover {
    background-color: #009a27;
}
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 5px;
    }

    #easylevel,
    #mediumlevel,
    #difficultlevel {
        font-size: 16px;
        padding: 12px 25px;
    }
}