*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url('images/background_image-transformed.webp');
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
/* header line */
h1{
    color: aliceblue;
    font-size: 140px;
    text-align: center;
    margin-bottom: 50px;
}
/* version line */
h2{
    color: aliceblue;
    font-size:xx-large;
    line-height: 430px;
    text-align: center;
}
/* start game */
.container{
    display: flex;
    justify-content: center;
    bottom: 100px;
}
#startbutton {
    text-align: center;
    margin-bottom: 70px;
    font-size: 25px;
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(150, 255, 127);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

#startbutton:hover {
    background-color: #009a27;
}
/* Responsive styles */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 57px;
        margin-bottom: 30px;
        position: relative;
        top: 140px;
    }

    h2 {
        font-size: large;
        text-align: center;
        
        
    }

    #startbutton {
        font-size: 18px;
        padding: 15px 30px;
        position: relative;
        top: 180px;
    }
}


